<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Task Management</title>
        <link rel="stylesheet" href="style.css" />
    </head>

    <body>
        <!-- menu items -->
        <div class="container">
            <div class="Menu-Logo">
                <img src="./assets/logo.jpg" alt="Logo" />
            </div>
            <div class="Menu">
                <ul>
                    <li>
                        <a href="./taskOwner.html">
                            Task Owner
                        </a>
                    </li>
                    <li>
                        <a href="./attendant.html">
                            Attendants
                        </a>
                    </li>
                    <li>
                        <a href="tasks.html">
                            Tasks
                        </a>
                    </li>
                    <li>
                        <button id="button">MENU</button>
                    </li>
                </ul>
            </div>

            <div class="clear"></div>
            <hr />

            <div id="menu-mobile">
                <button id="cancel" class="cancel">&cross;</button>
                <ul>
                    <li style="margin: 10px;">
                        <a href="./taskOwner.html">
                            Task Owner
                        </a>
                    </li>
                    <li style="margin: 10px;">
                        <a href="./attendant.html">
                            Attendants
                        </a>
                    </li>
                    <li style="margin: 10px;">
                        <a href="tasks.html">
                            Tasks
                        </a>
                    </li>
                </ul>
            </div>

            <div class="slideshow-container" id="slider-image">
                <!-- Slider one -->
                <div class="mySlides fade">
                    <img src="./assets/slider.jpg" style="width:100%">
                    <div class="text">Slider One</div>
                </div>

                <!-- Slide two -->
                <div class="mySlides fade">
                    <img src="./assets/slider2.jpg" style="width:100%">
                    <div class="text">Slider Two</div>
                </div>
            </div>
        </div>
        
        <footer>
            &copy; skylla co. All Rights Reserved !
        </footer>

        <script src="app.js"></script>
    </body>
</html>