<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>attendant</title>
        <link rel="stylesheet" href="tasks.css" />
    </head>
    <body>
        <h1>I can attend the tasks</h1>
        <hr />

        <div>
            <li>Roger</li>
            <li>Henry</li>
            <li>Willy</li>
            <li>Ronnie</li>
            <li>Angel</li>
        </div>
        <div style="margin: 10px;">
            <a href="app.html">&LeftArrow; Go back</a>
        </div>
    </body>
</html>