<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>tasks</title>
        <link rel="stylesheet" href="tasks.css" />
    </head>
    <body onload="loadContents()">
        <h1>Complete your task</h1>
        <hr />
       
        <div>
            <span style="font-weight: bold;">Task Owner:      </span>
            <span id="tasks"></span>    
        </div>

        <div>
            <span style="font-weight: bold;">Task:      </span>
            <span id="task">
                
            </span>
            <input type="text" />
        </div>

        <div>
            <a href="app.html">&LeftArrow; Go back</a>
        </div>

        <script src="./taskOwner.js"></script>
    </body>
</html>